<!DOCTYPE html>
<head>
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{range .CSS}}<link rel="stylesheet" href="{{.}}">
  {{end}}
  {{range .Scripts}}<script src="{{.}}"></script>
  {{end}}
</head>
<body>
  <div data-role="page" id="main">
    <div data-role="header"><h1>{{.Title}}</h1></div>
    <div role="main" class="ui-content">
      <form>
        <div align="center" class="ui-grid-a">
          <div class="ui-block-a">
            <label for="power">Power:</label>
            <input type="checkbox" data-role="flipswitch" name="power" id="power" data-disabled="true">
          </div>
          <div class="ui-block-b">
            <label for="mute">Mute:</label>
            <input type="checkbox" data-role="flipswitch" name="mute" id="mute" data-disabled="true">
          </div>
        </div>
        <label for="volume">Volume:</label>
        <input type="range" name="volume" id="volume" min="0" max="100" data-highlight="true" data-disabled="true">
        <label for="input">Input:</label>
        <select name="input" id="input" data-disabled="true">
          {{range .Inputs}}<option id="input_{{.Value}}" value="{{.Value}}">{{.Name}}</option>
          {{end}}
        </select>
      </form>
    </div>
  </div>
</body>
</html>
